.body {
    margin: 0px;
    padding: 0px;
    font: normal 14px 'Lato', Arial, sans-serif;
}

a {
    text-decoration: none;
    width: 100%;
}

a:visited {
    color: #FFF;
    text-decoration: none;
}

.header {
    background-color: #051932;
    color: #FFF;
    border-top: 4px solid #2A7AE4;
    display: block;
    height: 80px;
    font-family: "Open Sans", sans-serif;
}

.header .container {
    height: 100%;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin-left: auto;
    margin-right: auto;
    color:#FFF;
    width: 96%;
    max-width: 1200px;
    padding: 0;
}

.header-logo {
    height: 36px;
    filter: brightness(100);
}

.header-arrow-down {
    height: 12px;
    width: 12px;
    filter: brightness(100);
    margin-left: 5px;
}

.header-search-bar {
    background-color: #2A7AE4;
    margin: 0;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.header-serch {
    position: absolute;
    left: 480px;
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 11;
    background-color: #2A7AE4;
}

.header-search-icon {
    display: block;
    margin: 4px;
    height: 23px;
    width: 23px;
    fill: #FFF;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-button {
    margin-right: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-nav-notifications {
    width: 22px;
    fill: #FFF;
}

.header-user-points-button {
    margin-right: 15px;
    text-align: right;
}

.header-user-points {
    margin-bottom: 2px;
}

.header-user-points-numbers {
    font-weight: 100;
}

.header-user-points-xp {
    font-weight: 700;
    color: #03C2E0;
}

.points-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 90px;
}

.points-grid-cell {
    width: 7px;
    height: 7px;
    margin: 1px;
    padding: 0px;
    background-color: #3D608F;
}


.user-profile-link {
    display: flex;
    align-items: center;
}

.user-profile-avatar-image-menu {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-profile-button {
    margin: 0px;
    padding: 0px;
}

.banner-studying-plan {
    background-color: #093364;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.banner-studying-plan .container {
    display: flex;
}

.banner-title{
    font-size: 1.5em;
    letter-spacing: -1.2px;
    font-weight: 900;
    text-transform: uppercase;
}

.user-profile-avatar-image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid #FFF;
}

.user-avatar-wrapper {
    background-color: #FFF;
}

.user-avatar-wrapper .container  {
    display: flex;
    justify-content: flex-end;
    height: 0;
    align-items: center;
}

.my-guide{
    margin-top: 40px;
}

.button-user-guide-new {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    width: auto;
    padding: 1em 2em;
    color: #fff;
    background: #5ed97b;
    margin-bottom: 30px;
}

.button {
    border: 0;
    border-radius: 2px;
}

.user-guide-cards {
    display: flex;
}

.guide-cards-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.guide-card {
    width: 280px;
    height: 100%;
    border: 1px solid;
    border-color:  #caced1;
    border-left: 5px solid;
    font-family: 'Open Sans',sans-serif;
}

.guide-card-link {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 25px 15px 30px;
}

.guide-card-text {
    color: #8696a0;
    
}

.guide-card-text-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size:small;
}

.guide-card-text-plan {
    text-decoration: none;
    font-weight:900;
    font-size: medium;
}

.guide-card-text-followers {
    line-height: 1.08;
    font-size: 13px;
    width: 65px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    border-top: 1.5px solid #ecf2f6;
    margin-top: 150px;
    padding: 20px 0;
    padding-top: 35px;
    text-transform: uppercase;
    height: 130px;
}

.footer-logo {
    display: block;
    align-self: flex-start;
    width: 15%;
    text-align: center;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: normal; */
    width: 50%;
    margin: 0;
    padding: 0;
}

.footer-menu-item-link {
    line-height: 2.17;
    font-size: 12px;
    color: #8696a0;
    text-decoration: none;
}

.footer-footerGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 530px;
}

.footer-links-title {
    text-transform: uppercase;
    color: #8696a0;
    font-size: 12px;
    text-decoration: none;
    margin: 10px 0;
}

.footer-links-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.footer-socialMedia-item {
    height: 50px;
    width: 50px;
}
.footer-socialMedia-item-link {
    height: 100%;
    width: 100%;
}

.youtube-icon {
    fill: #8696a0;
}